.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logout {
  font-size: .2em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.buttonProfile {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}


#input[type="file"] {
  display: none;
}

.image-upload {
  margin: auto;
  border-radius: 10px;
  width: 100px;
  height: 10px;
  text-align: center;
  cursor: pointer;
}
.card {  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 12px;
}

.buttonProfile {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}


#input[type="file"] {
  display: none;
}

.image-upload {
  margin: auto;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.button {
  text-decoration: none;
  float: right;
  padding: 10px;
  margin: 5px;
  color: white;
  width: 10px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

/* body {
  background-image: url("./components//background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 90px;
  width: 40%;
  padding-bottom: 90px;

}

.sub-main {
  justify-content: center;
  height: 540px;
  width: 400px;
  padding-top: 5px;
  border-radius: 60px;
  background-color: rgb(234, 233, 246);
}

.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.container-image {
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90px;
  width: 90px;
}

.profile {
  height:  80px;
  width: 80px;
  border-radius: 130px;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  border: none;
  text-size-adjust: 14px;
  background-color: #ffffff;
}

.email {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 0px 0 0 5px;
}

.name {
  padding-left: 70px;
  font-size: 15px;
}

.second-input {
  padding-top: 5x;
}

.buttonLog {
  width: 200px;
  height: 45px;
  border-radius: 100px;
  background-color: #2609ff;
  color: white;
  font-size: 20px;
  border: none;
}

.login-button {
  padding-top: 2px;
}
.link {
  font-size: 25px;
  font-weight: 400;
}

a {
  color: blue;
}

.test {
  background-image: url("../src/components/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  font-family: "Raleway",
    sans-serif;
}